/* Screens larger than 980px */
.cards-container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.cards-container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 90%;
}

.cards-container-list li {
  list-style: none;
}
