body{
  margin: 0;
  padding: 0;
}

.home-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page-title-aside-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.home-page-title{
  font-size: 2.5em;
  font-family: "Newsreader", serif;
  font-weight: 400;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  text-align: center;

}

.home-page-aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  font-size: 1em;
  font-family: "Inter", sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 400;
}

.home-page-aside h3{
  color: #C444FF;
  font-family: "Inter", sans-serif;
  font-size: 0.7em;
  font-weight: 400;
}

.home-page-aside p{
  color: #F5F5F5;
  font-family: "Inter", sans-serif;
  font-size: 0.7em;
  font-weight: 300;
}

.home-page-horizontal-divider{
  width: 75%;
  height: 3px;
  border-radius: 10px;
  background-color: #C444FF;
  margin-top: 2%;
  margin-bottom: 2%;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}



