.product-details-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-details-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.product-details-page-container img {
  width: 30%;
  height: 25%;
  background-color: #f5f5f5;
  box-shadow: 10px rgb(2, 2, 2);
}

.product-details-buttons-container {
  display: flex;
  justify-content: center;
  gap: 25%;
  background-color: #f5f5f5;
  width: 30%;
}

.product-details-add-to-cart {
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

.product-details-add-to-cart img {
  width: 4em;
  height: 4em;
  margin-top: 2em;
}

.product-details-add-to-cart:hover {
  transform: scale(1.1);
}

.product-details-favorite-btn {
  background: rgb(212, 130, 250);
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  transition: all 0.2s ease;
  margin-top: 4em;
  margin-left: 2em;
}

.product-details-favorite-btn:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: scale(1.1);
}

.product-details-favorite-btn.favorited:hover {
  background: #c444ff;
}

.product-details-introduction-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
}

.product-details-page-title {
  font-size: 2.5em;
  font-family: Newsreader, serif;
  font-weight: 400;
  margin-top: 5%;
  color: #f5f5f5;
}

.product-details-page-container h3 {
  color: #c444ff;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 600;
}

.product-details-rating-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25%;
}

.product-details-rating-section span {
  color: #c444ff;
  margin-right: 5%;
  width: 7em;
  margin-top: 5%;
}

.product-details-page-container p {
  color: #f5f5f5;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
}

.product-details-price-section {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  gap: 5%;
}

.product-details-price-section h2 {
  font-size: 2.5em;
  font-family: Newsreader, serif;
  color: #f5f5f5;
  font-weight: 200;
  font-style: italic;
}

.product-details-initial-price {
  color: #f5f5f5;
  text-decoration: line-through;
}

.product-details-discounted-price {
  color: #c444ff;
}

@media (max-width: 979px) {
  .product-details-page-container img {
    width: 60%;
    height: 45%;
  }

  .product-details-buttons-container {
    width: 60%;
    gap: 30%;
  }

  .product-details-add-to-cart img {
    width: 3.5em;
    height: 3.5em;
  }

  .product-details-favorite-btn {
    width: 2.5em;
    height: 2.5em;
    margin-left: 1em;
  }

  .product-details-introduction-section {
    width: 60%;
  }

  .product-details-page-title {
    font-size: 2em;
  }

  .product-details-page-container h3 {
    font-size: 0.8em;
  }

  .product-details-rating-section {
    width: 50%;
  }

  .product-details-page-container p {
    font-size: 0.6em;
  }

  .product-details-price-section h2 {
    font-size: 2em;
  }

  .product-details-favorite-btn {
    top: 18%;
    left: 38%;
  }

  .product-details-price-section {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}
