.fetching-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}

.fetching-error-content {
  text-align: center;
}
.fetching-error-content h1 {
  font-size: 2em;
  margin-top: 0em;
  color: #c444ff;
  font-weight: 600;
}

.fetching-error-content p {
  font-size: 1em;
  font-weight: 200;
  color: #c444ff;
  margin-top: 0em;
}
