/* Default styles for screens larger than 980px */
@media (min-width: 980px) {
  .favorites-cards-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
  }

  .favorites-cards-container p {
    color: #c444ff;
  }

  .favorites-cards-container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%;
  }

  .favorites-cards-container-list li {
    list-style: none;
  }
}

/* Responsive styles for screens smaller than 980px */
@media (max-width: 979px) {
  .favorites-cards-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
  }

  .favorites-cards-container p {
    color: #c444ff;
  }

  .favorites-cards-container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%;
  }

  .favorites-cards-container-list li {
    list-style: none;
  }
}
