.no-underline-link {
  text-decoration: none;
  color: inherit;
}

.card:hover {
  box-shadow: 0 0 20px #c444ff;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 240px;
  background-color: #f5f5f5;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  text-align: center;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #000000;
  transition: all 0.3s ease;
}

.card-image-section {
  display: flex;
  position: relative;
  margin: 1em;
}

.card img {
  width: 120px;
  height: 100px;
  object-fit: cover;
}

.card-buttons-section {
  display: flex;
  flex-direction: column;
}

.add-to-cart {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 40%;
  width: 3.5em;
  height: 3.5em;
  transition: all 0.2s ease;
}

.add-to-cart:hover {
  transform: scale(1.1);
}

.add-to-cart img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: none;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  height: 40%;
}

.card h3 {
  font-size: 1em;
  margin-top: 0em;
}

.card-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0.8em;
  color: #c444ff;
}

.card p {
  font-size: 0.6em;
  font-weight: 200;
  color: rgb(64, 63, 63);
  margin-top: 0em;
}

.favorite-btn {
  position: absolute;
  top: 0;
  right: 100px;
  background: rgb(212, 130, 250);
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  transition: all 0.2s ease;
}

.favorite-btn:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: scale(1.1);
}

.favorite-btn.favorited:hover {
  background: #c444ff;
}
